<!DOCTYPE html>
<html>
  <head>
    <title>CRUDdy Blog</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/1.7.4/jquery.dotdotdot.js"></script>
    <script src="/scripts/main.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
